%bold-caps {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 30rem;
}

h1 {
  @extend %bold-caps;
  font-size: 56rem;
  line-height: 100%;
}

h2 {
  @extend %bold-caps;
  font-size: 40rem;
}

h3 {
  @extend %bold-caps;
  font-size: 32rem;
}

h4 {
  @extend %bold-caps;
  font-size: 28rem;
}

h5 {
  @extend %bold-caps;
  font-size: 24rem;
}

h6 {
  @extend %bold-caps;
  font-size: 18rem;
}

p {
  line-height: 180%;
  letter-spacing: 2rem;
}

.overline {
  font-size: 14rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10rem;
}

.subtitle {
  @extend %bold-caps;
  font-size: 13rem;
}

@media only screen and (max-width: 930px) {
  h1 {
    font-size: 36rem;
  }

  h2 {
    font-size: 28rem;
  }

  h3 {
    font-size: 24rem;
  }

  h4 {
    font-size: 20rem;
  }

  h5 {
    font-size: 16rem;
  }

  h6 {
    font-size: 14rem;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 12rem;
  }

  h1 {
    font-size: 28rem;
  }

  h2 {
    font-size: 24rem;
  }

  h3 {
    font-size: 20rem;
  }

  h4 {
    font-size: 16rem;
  }

  h5 {
    font-size: 14rem;
  }

  h6 {
    font-size: 12rem;
  }
}
