@use "../styles" as *;

.product-each-rec {
  @include flex-container(center, center, column);
  padding: 40rem 0;

  img {
    border-radius: $rounded-borders;
    width: 100%;
    margin-bottom: 40rem;
  }
}
