@use "../../../styles" as *;

.product-gallery {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  grid-gap: $global-col-gap;

  img {
    border-radius: $rounded-borders;
    width: 100%;
    height: 100%;
  }
}

.first-gallery-img {
  grid-area: 1 / 1 / 2 / 2;
}

.second-gallery-img {
  grid-area: 2 / 1 / 3 / 2;
}

.third-gallery-img {
  grid-area: 1 / 2 / 3 / 3;
}

@media only screen and (max-width: 500px) {
  .product-gallery {
    display: block;

    img {
      margin-bottom: $global-col-gap;
    }
  }
}
