@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font: 15rem "Manrope", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

// == Links

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 30rem;
  letter-spacing: 2rem;
  font-weight: 500;
}

// == Form Inputs

input {
  border: 2rem solid $mid-gray;
  border-radius: 5rem;
  padding: 15rem 20rem;
  font: inherit;
  outline: none;
  font-weight: 600;
  caret-color: $dark-orange;

  &:focus {
    border: 2rem solid $dark-orange;
  }
}

input[type="radio"] {
  background: $dark-orange;
  width: 20rem;
  height: 20rem;
  margin: 10rem;
}

// == Buttons

button {
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 18rem 50rem;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  letter-spacing: 2rem;
}

.orange-btn {
  background: $dark-orange;
  color: white;

  &:hover {
    background: $light-orange;
  }
}

.clear-btn {
  color: black;
  border: 1rem solid black;

  &:hover {
    background: black;
    color: white;
  }
}

.black-btn {
  background: black;
  color: white;

  &:hover {
    background: $cloud-gray;
  }
}
