@use "./variables" as *;

.page-content {
  position: relative;
  width: 80vw;
  margin: auto;
}

section {
  padding: 75rem 0;
}

%center-text {
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%fade-block {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($dark-gray, 0.5);
}
