@use "./variables" as *;

.page-content {
  position: relative;
  width: 80vw;
  margin: auto;
}

section {
  padding: 75rem 0;
}

%center-text {
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
