@use "../styles" as *;

#cart {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($dark-gray, 0.5);
}

.cart-summary {
  position: absolute;
  top: 15vh;
  right: 10vw;
  width: 500rem;
  max-height: 80vh;
  border-radius: $rounded-borders;
  padding: 30rem;
  background: white;
}

.cart-items-container {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20rem 0;
  @extend %hide-scrollbar;
}

.remove-all-btn {
  background: none;
  padding: 0;
  height: fit-content;
  text-decoration: underline;
}

.checkout-btn {
  width: 100%;
  margin-bottom: 20rem;
}

.flex-row-container {
  @include flex-container(space-between, center);
  margin-bottom: 30rem;

  h5,
  h6 {
    margin: 0;
  }
}
