@use "../styles" as *;

.cart-item {
  @include flex-container(flex-start, center);
  position: relative;
  padding: 15rem 0;
  height: 110rem;

  p,
  .counter {
    margin: 0;
  }

  p {
    font-weight: bold;
  }

  .gray-format {
    color: darken($mid-gray, 50%);
  }

  .quantity,
  .counter {
    position: absolute;
    right: 0;
  }
}

.cart-item-img {
  height: 100%;
  border-radius: $rounded-borders;
  margin-right: $global-col-gap;
}

.cart-item-details {
  width: 40%;
}

@media only screen and (max-width: 500px) {
  .cart-item-img {
    width: 60rem;
    height: auto;
    margin-right: 10rem;
  }

  .cart-item-details {
    p {
      font-size: 14rem;
    }
  }

  .cart-item {
    align-items: flex-start;

    .counter {
      width: 90rem;
    }
  }
}
