@use "../styles" as *;

.checkout-success {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($dark-gray, 50%);
  @include flex-container(center, center);
}

.success-summary {
  background: white;
  width: 40%;
  padding: 50rem;
  border-radius: $rounded-borders;

  h5 {
    color: $cloud-gray;
  }

  button {
    width: 100%;
  }
}

.purchased-items {
  margin: 30rem 0;
}

.summary-property {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 10rem;
}

.success-purchase-summary {
  @include even-grid-container(100rem);
  grid-template-columns: 2fr 1fr;
  justify-items: flex-start;
  border-radius: $rounded-borders;
  overflow: hidden;
  margin: 20rem 0;
}

.success-purchase-total {
  @include flex-container(center, center);
  background: $dark-gray;
  width: 100%;
  height: 100%;

  h6 {
    color: white;
    margin: 0;
  }
}
