@use "../styles" as *;

.menu-btn {
  @include flex-container(space-between, center, column);
  width: 20rem;
  height: 15rem;
  cursor: pointer;
}

.white-line {
  height: 3rem;
  width: 100%;
  background: white;
}
