@use "../styles" as *;

#nav-bar {
  position: fixed;
  z-index: 99;
  padding: 0 10vw;
  width: 100vw;

  .svg-icons {
    width: 30%;
    text-align: right;
  }

  a:hover {
    color: $dark-orange;
  }
}

.nav-container {
  @include flex-container(space-between, center);
  height: 10vh;
  border-bottom: 1rem solid rgba($light-gray, 0.5);
}

.cart-btn {
  cursor: pointer;
}
