@use "../styles" as *;

.product-gallery {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  grid-gap: $global-col-gap;
}

.gallery-img {
  overflow: hidden;
  border-radius: $rounded-borders;
}

.first-gallery-img {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
}

.second-gallery-img {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
}

.third-gallery-img {
  grid-area: 1 / 2 / 3 / 3;
  width: 100%;
}
