@use "../styles" as *;

$promo-item-height: 380rem;

.promo-items {
  border: 1rem solid red;
}

.promo-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: $global-col-gap;
  row-gap: 50rem;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: $rounded-borders;
}

.first-promo-item {
  height: 560rem;
  grid-column: 1 / span 2;
  background: $dark-orange;

  .image-container {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .promo-image-1 {
    position: relative;
    top: 22%;
    height: 80%;
  }

  .pattern-circles {
    position: absolute;
    left: -7%;
  }
}

.first-promo-item-desc {
  position: absolute;
  top: 22%;
  right: 0;
  width: 50%;

  h1 {
    color: white;
  }

  p {
    width: 50%;
    color: white;
    margin-bottom: 80rem;
  }
}

.second-promo-item {
  grid-area: 2 / 1 / 3 / 3;
}

.third-promo-image {
  grid-area: 3 / 1 / 4 / 2;
}

.third-promo-item {
  grid-area: 3 / 2 / 4 / 3;
  background: $mid-gray;
}

.sub-promo {
  @include flex-container(flex-start, center);
  height: $promo-item-height;
  overflow: hidden;
}

.sub-promo-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sub-promo-item-desc {
  padding-left: 100rem;
  position: absolute;
}

@media only screen and (max-width: 1250px) {
  .promo-items-grid {
    display: flex;
    flex-direction: column;
  }

  .first-promo-item {
    height: fit-content;
    padding-bottom: 100rem;

    .first-promo-item-desc {
      position: initial;
      text-align: center;
      margin: auto;

      p {
        width: 100%;
      }
    }

    .image-container {
      @include flex-container(center, center);
      height: 300rem;
      margin-bottom: 100rem;
      width: 100%;

      .promo-image-1 {
        position: absolute;
      }

      .pattern-circles {
        left: initial;
      }
    }
  }

  .sub-promo {
    justify-content: center;
  }

  .sub-promo-item-desc {
    padding-left: 0;
    text-align: center;
  }
}
