@use "../styles" as *;

.form-section-grid {
  @include even-grid-container(275rem);
  row-gap: 20rem;
  width: 100%;
  margin-bottom: 70rem;

  div {
    width: 100%;
  }
}

.address-input-container {
  grid-column: 1 / span 2;
}

.payment-info {
  .payment-method {
    align-self: start;
    justify-self: start;
    color: $dark-gray;
  }
}

.payment-options {
  label {
    border: 1rem solid $mid-gray;
    border-radius: $rounded-borders;
    padding: 20rem;
    @include flex-container(flex-start, center);
    cursor: pointer;
  }

  [type="radio"] {
    display: none;
  }

  .custom-radio-btn {
    display: inline-block;
    margin-right: 20rem;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    border: 1rem solid darken($mid-gray, 20%);
    box-shadow: inset 0 0 0 3rem white;
  }

  .active {
    background: $dark-orange;
  }
}

@media only screen and (max-width: 1250px) {
  .form-section-grid {
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .address-input-container {
    grid-column: initial;
  }
}

@media only screen and (max-width: 500px) {
  .form-section-grid {
    grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
  }
}
