@use "../../../styles" as *;

.checkout-success {
  @extend %fade-block;
  left: 0;
  @include flex-container(center, center);
}

.success-summary {
  background: white;
  max-height: 90vh;
  width: 40%;
  padding: 50rem;
  border-radius: $rounded-borders;
  overflow-y: scroll;
  @extend %hide-scrollbar;

  h5 {
    color: $cloud-gray;
  }

  button {
    width: 100%;
  }
}

.your-details {
  margin: 30rem 0;
}

.summary-property {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 10rem;
}

.success-purchase-summary {
  @include even-grid-container(100rem);
  grid-template-columns: 2fr 1fr;
  justify-items: flex-start;
  border-radius: $rounded-borders;
  overflow: hidden;
  margin: 20rem 0;
}

.success-purchase-items {
  width: 100%;
  max-height: 20vh;
  min-height: 110rem;
  overflow-y: scroll;
  @extend %hide-scrollbar;
}

.success-purchase-total {
  @include flex-container(center, center);
  background: $dark-gray;
  width: 100%;
  height: 100%;
  min-height: 80rem;

  h6 {
    color: white;
    margin: 0;
  }
}

@media only screen and (max-width: 1250px) {
  .success-summary {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .success-purchase-summary {
    display: block;
  }
}
