header {
  position: relative;
}

.home-banner-img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.home-description {
  position: absolute;
  left: 10vw;
  top: 30%;
  width: 400rem;
  color: white;
}

@media only screen and (max-width: 1250px) {
  .home-description {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
