@use "../../../styles" as *;

.counter {
  @include flex-container(space-between, center);
  width: 120rem;
  background: $mid-gray;
  margin-right: 20rem;

  p {
    margin: 0;
    font-weight: bold;
  }

  .counter-btn {
    padding: 18rem 14rem;
    color: darken($mid-gray, 50%);
    font-weight: bold;

    &:hover {
      color: $dark-orange;
    }
  }
}
