@use "../../../styles" as *;

#category-page {
  padding-top: 10vh;

  header {
    background: $dark-gray;
    height: 336rem;
    @include flex-container(center, center);
    color: white;

    h1 {
      font-size: 40rem;
    }
  }
}
