* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font: 15rem "Manrope", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 30rem;
  letter-spacing: 2rem;
  font-weight: 500;
  font-size: 13rem;
}
a:hover {
  color: #d87d4a;
}

input {
  border: 2rem solid #f1f1f1;
  border-radius: 5rem;
  padding: 15rem 20rem;
  font: inherit;
  outline: none;
  font-weight: 600;
  caret-color: #d87d4a;
}
input:focus {
  border: 2rem solid #d87d4a;
}

input[type=radio] {
  background: #d87d4a;
  width: 20rem;
  height: 20rem;
  margin: 10rem;
}

button {
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 18rem 50rem;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  letter-spacing: 2rem;
}

.orange-btn {
  background: #d87d4a;
  color: white;
}
.orange-btn:hover {
  background: #fbaf85;
}
.orange-btn:active {
  background: #101010;
}

.clear-btn {
  color: black;
  border: 1rem solid black;
}
.clear-btn:hover {
  background: black;
  color: white;
}

.black-btn {
  background: black;
  color: white;
}
.black-btn:hover {
  background: #4c4c4c;
}

li {
  list-style: none;
  margin-bottom: 10rem;
}

.subtitle, h6, h5, h4, h3, h2, h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 30rem;
}

h1 {
  font-size: 56rem;
  line-height: 100%;
}

h2 {
  font-size: 40rem;
}

h3 {
  font-size: 32rem;
}

h4 {
  font-size: 28rem;
}

h5 {
  font-size: 24rem;
}

h6 {
  font-size: 18rem;
}

p {
  line-height: 180%;
  letter-spacing: 2rem;
}

.overline {
  font-size: 14rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10rem;
}

.subtitle {
  font-size: 13rem;
}

.page-content {
  position: relative;
  width: 80vw;
  margin: auto;
}

section {
  padding: 75rem 0;
}

header {
  border: 1rem solid red;
  position: relative;
}

.home-banner-img {
  position: relative;
  z-index: -1;
  min-width: 100vw;
}

.home-description {
  position: absolute;
  left: 10vw;
  top: 30%;
  width: 400rem;
  color: white;
}

#category-page {
  padding-top: 10vh;
}
#category-page header {
  background: #101010;
  height: 336rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
#category-page header h1 {
  font-size: 40rem;
}

#product-page {
  padding-top: 15vh;
}

.go-back a {
  color: black;
}
.go-back a:hover {
  color: #d87d4a;
}

.product-information {
  padding-top: 0;
}

#nav-bar {
  position: fixed;
  z-index: 99;
  padding: 0 10vw;
  width: 100vw;
  background: #101010;
}
#nav-bar .svg-icons {
  width: 30%;
  text-align: right;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  border-bottom: 1rem solid rgba(250, 250, 250, 0.5);
}

.cart-btn {
  cursor: pointer;
}

footer {
  background: #101010;
  padding: 30rem 0;
}
footer .nav-container {
  border: none;
}
footer p {
  color: white;
}

.footer-text {
  margin-top: 20rem;
  width: 40%;
  height: 250rem;
}

.disclaimer {
  position: absolute;
  bottom: 0;
  margin-top: 75rem;
  font-size: 13rem;
  text-transform: uppercase;
}
.disclaimer a {
  padding: 0;
}

.socials {
  position: absolute;
  top: 60%;
  right: 0;
}
.socials a {
  padding: 10rem;
}
.socials a:hover svg.socials-icon path {
  fill: #d87d4a;
}

.category-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 100rem 0;
}

.categories-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 30rem;
  row-gap: 50rem;
}

.category-nav-link {
  padding: 0;
  width: 100%;
}

.category-nav-btns {
  height: 350rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  border-radius: 10rem;
  cursor: pointer;
}
.category-nav-btns h6,
.category-nav-btns p {
  margin: 0;
  color: black;
}
.category-nav-btns:hover {
  transform: translateY(-10rem);
  box-shadow: 0 20rem 10rem -10rem rgba(16, 16, 16, 0.2);
}
.category-nav-btns:hover .shop-text p {
  color: #d87d4a;
}

.right-arrow {
  padding-left: 15rem;
}

.gray-block {
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: #f1f1f1;
  border-radius: 10rem;
  width: 100%;
  height: 75%;
}

.category-image {
  height: 70%;
}

.shop-text {
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.promo-items {
  border: 1rem solid red;
}

.promo-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 30rem;
  row-gap: 50rem;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
}

.first-promo-item {
  height: 560rem;
  grid-column: 1/span 2;
  background: #d87d4a;
}
.first-promo-item .image-container {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
  border: 1rem solid red;
}
.first-promo-item .promo-item-1 {
  position: relative;
  top: 22%;
  height: 80%;
}
.first-promo-item .pattern-circles {
  position: absolute;
  left: -7%;
}
.first-promo-item .first-promo-item-desc {
  position: absolute;
  top: 22%;
  right: 0;
  width: 50%;
  display: inline-block;
}
.first-promo-item .first-promo-item-desc h1 {
  color: white;
}
.first-promo-item .first-promo-item-desc p {
  width: 50%;
  color: white;
  margin-bottom: 80rem;
}

.second-promo-item {
  grid-area: 2/1/3/3;
}

.third-promo-image {
  grid-area: 3/1/4/2;
}

.third-promo-item {
  grid-area: 3/2/4/3;
  background: #f1f1f1;
}

.sub-promo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 380rem;
  overflow: hidden;
}

.sub-promo-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sub-promo-item-desc {
  padding-left: 100rem;
  position: absolute;
}

.about {
  border: 1rem solid red;
}

.about-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 30rem;
  row-gap: 50rem;
}

.about-text-container {
  width: 70%;
}
.about-text-container h3 span {
  color: #d87d4a;
}

.about-image {
  max-width: 100%;
  border-radius: 10rem;
}

.category-product {
  border: 1rem solid orange;
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 30rem;
  row-gap: 50rem;
  justify-items: flex-start;
  column-gap: 100rem;
  margin: 100rem 0;
}
.category-product .overline {
  color: #d87d4a;
}

.product-text-container {
  order: 1;
  width: 80%;
}

.product-image {
  width: 100%;
  border-radius: 10rem;
}

.purchase-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 120rem;
  background: #f1f1f1;
  margin-right: 20rem;
}
.counter p {
  margin: 0;
  font-weight: bold;
}
.counter .counter-btn {
  padding: 18rem 14rem;
  color: #727272;
  font-weight: bold;
}
.counter .counter-btn:hover {
  color: #d87d4a;
}

.product-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 30rem;
  row-gap: 50rem;
  align-items: flex-start;
}

.in-the-box li span {
  color: #d87d4a;
  font-weight: bold;
  margin-right: 20rem;
}

.product-gallery {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  grid-gap: 30rem;
}

.gallery-img {
  overflow: hidden;
  border-radius: 10rem;
}

.first-gallery-img {
  grid-area: 1/1/2/2;
  height: 100%;
}

.second-gallery-img {
  grid-area: 2/1/3/2;
  height: 100%;
}

.third-gallery-img {
  grid-area: 1/2/3/3;
  width: 100%;
}

.product-recs h3 {
  text-align: center;
}

.product-recs-container {
  margin-top: 60rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 30rem;
  row-gap: 50rem;
}

.product-each-rec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40rem 0;
}
.product-each-rec img {
  border-radius: 10rem;
  width: 100%;
  margin-bottom: 40rem;
}

#cart {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(16, 16, 16, 0.5);
}

.cart-summary {
  position: absolute;
  top: 15vh;
  right: 10vw;
  width: 500rem;
  border-radius: 10rem;
  padding: 30rem;
  background: white;
}

.remove-all-btn {
  background: none;
  padding: 0;
  height: fit-content;
  text-decoration: underline;
}

.checkout-btn {
  width: 100%;
}

.flex-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30rem;
}
.flex-row-container h5,
.flex-row-container h6 {
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 15rem 0;
  height: 110rem;
}
.cart-item p,
.cart-item .counter {
  margin: 0;
}
.cart-item p {
  font-weight: bold;
}
.cart-item p:last-child {
  color: #727272;
}

.cart-item-img {
  height: 100%;
  border-radius: 10rem;
}

.cart-item-details {
  width: 40%;
}
