@use "../../../styles" as *;

#nav-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  background: $dark-gray;
}

.nav-container {
  @include flex-container(space-between, center);
  margin: auto;
  width: 80vw;
  height: 10vh;
  min-height: 60rem;
  border-bottom: 1rem solid rgba($light-gray, 0.5);
}

.nav-logo {
  @include flex-container(space-between, center);
  column-gap: $global-col-gap;
}

.cart-btn,
.logo {
  cursor: pointer;
}

.drop-menu {
  @extend %fade-block;
  top: 10vh;

  .category-nav {
    padding: 50rem 10vw;
    background: white;
    border-radius: 0 0 $rounded-borders $rounded-borders;
  }
  .categories-container {
    row-gap: 20rem;
  }

  .category-nav-btns {
    height: 200rem;
  }
}

@media only screen and (max-width: 375px) {
  #nav-bar {
    .nav-container {
      width: 100vw;
      padding: 0 10vw;
    }
  }

  .drop-menu {
    .category-nav {
      padding: 30rem 10vw;
    }

    .category-nav-btns {
      height: 130rem;
    }
  }
}
